<%- include('../../partials/header.ejs')  %>

<div class="container">

    <%- include('../../partials/modals.ejs')  %>

      
    <div class="card mt-4">

        <div class="card-header">
            <h2>Categories (<%=categories.count%>)
                <a class="btn btn-outline-primary float-right" href="/admin/categories/new" role="button">Create</a>
            </h2>
        </div>
    
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            <% categories.rows.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Edit</button>
                        
                        <form action="/admin/categories/delete" id="formEdit<%=category.id %>" method="POST" style="display: inline;">
                            <input type="hidden" name="id" value="<%=category.id %>">
                            <button onClick="confirmDeleteModal('<%=category.id %>')" class="btn btn-danger">Del</button> 
                        </form>
                    </th>
                </tr>
            <% }) %>

        </tbody>
    </table>

    
    <nav aria-label="Page navigation example">
        <ul class="pagination">
                
            <% if (page > 1) { %>
                <li class="page-item"><a class="page-link" href="/admin/categories/?page=<%=page-1%>">Previous</a></li>
                <li class="page-item"><a class="page-link" href="/admin/categories/?page=<%=page-1%>"><%=page-1%></a></li>
            <% } %>
            <li class="page-item active"><a class="page-link" href="#"><%=page%></a></li>
            <% if (next) { %>
                <li class="page-item"><a class="page-link" href="/admin/categories/?page=<%=page+1%>"><%=page+1%></a></li>
                <li class="page-item"><a class="page-link" href="/admin/categories/?page=<%=page+1%>">Next</a></li>
            <% } %>
        </ul>
      </nav>
      


</div>

<%- include('../../partials/footer.ejs')  %>
